.news-item.news-item_slide
    .news-item__image
        a(href='#')
            img(src='../img/news.jpg' alt='123')
    .news-item__content
        h3.news-item__title
            a(href='#') Заголовок новости до вдух строк максимально остальной текст уходит в многоточие
        .news-item__type Анонс новости