.slide__wrap
    .slide.js-slide
        - for(var x = 0; x < 4; x++)
            a(href='#').slide__item.wrapper_f.wrapper_jcsb.wrapper_aic(style='background: linear-gradient(281.61deg, rgba(132, 132, 132, 0.2) 2.46%, rgba(70, 70, 70, 0) 68.91%), #437FC8;')
                .slide__content
                    h3.slide__title Мы на ютубе
                    p.slide__text Реальные отзывы покупателей, уникальный статьи и бонус от компании на нашем канале.
                .slide__image
                    img(src='../img/youtube.png' alt='123')
