section.section.section_populars
    .wrapper
        h2.title.title_second.title_dark Популярные
        .populars.wrapper_f.wrapper_aifs.wrapper_jcfs
            - for(var x = 0; x < 12; x++)
                include ../items/card.jade