.wrapper
    ul.breadcrumbs.wrapper_f.wrapper_jcfs.wrapper_aifs
        li
            a(href='#') Главная
            span.separator /
        li
            a(href='#') Главная
            span.separator /
        li
            span Главная
