.wrapper
    .callback.wrapper_f.wrapper_jcsb.wrapper_jcfs
        h3.callback__title Получайте новости об акциях первыми!
        .callback__form
            form.callback__top.wrapper_f.wrapper_jcsb.wrapper_jcfs
                .callback__input
                    input(type='email' placeholder='Введите email')
                button.callback__button Подписаться
            .callback__bottom
                p Нажимая на кнопку «Подписаться» вы соглашаетесь на обработку персональных данных, получение email с предложениями о новых акциях нашей компании.
