footer.footer
    .wrapper.wrapper_aifs.wrapper_f.wrapper_jcsb
        .footer__item
            .footer__logo
                a(href='#')
                    <svg width="162" height="42" viewBox="0 0 162 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4516 21.3364H19.5952C20.207 17.96 25.0001 0 25.0001 0H40.1421L26.0992 41.8031H11.8523L0 0H14.6586C14.6586 0 18.904 17.96 19.4516 21.3364ZM44.9993 41.8031V0H76.1068V9.86461H58.9818V15.6948H73.1871V25.5627H58.9818V31.9318H76.1068V41.8031H44.9993ZM109.069 20.1823L120.241 0H105.518L97.7225 14.6928L97.375 0H83.7967V41.8031H97.375V25.5924L106.546 41.8031H121.522H135.961L137.128 36.426H146.51L147.541 41.8031H162L151.035 0H133.978L121.522 41.8031L109.069 20.1823ZM142.208 9.34212L138.25 27.1665H145.77L142.208 9.34212Z" fill="#0069B4"/>
                    </svg>
            .footer__phone
                a(href='#') 8 (800) 707-39-84
            ul.footer__social.wrapper_f.wrapper_jcsb.wrapper_aic
                li
                    a(href='#')
                        <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.5985 0.868561C25.2809 0.465225 24.8052 0.243164 24.2589 0.243164C23.962 0.243164 23.6474 0.308052 23.324 0.436386L1.31553 9.16084C0.147563 9.6237 -0.00974006 10.3183 0.0003765 10.6912C0.0104931 11.064 0.205485 11.7483 1.39686 12.142C1.404 12.1442 1.41114 12.1465 1.41828 12.1486L5.98344 13.5052L8.45228 20.8366C8.78891 21.836 9.54448 22.4569 10.4244 22.4569C10.9792 22.4569 11.5249 22.2155 12.0026 21.759L14.8263 19.059L18.9219 22.4837C18.9223 22.4841 18.9229 22.4843 18.9233 22.4847L18.9622 22.5173C18.9658 22.5201 18.9696 22.5232 18.9731 22.5261C19.4284 22.8928 19.9253 23.0864 20.4107 23.0866H20.4109C21.3592 23.0866 22.1144 22.3576 22.3344 21.2296L25.9405 2.73878C26.0853 1.99658 25.9639 1.33246 25.5985 0.868561ZM7.51065 13.2475L16.3182 8.57499L10.834 14.6265C10.7442 14.7255 10.6805 14.8469 10.6492 14.9789L9.59169 19.4271L7.51065 13.2475ZM10.9705 20.5951C10.934 20.6299 10.8973 20.661 10.8606 20.6897L11.8417 16.5632L13.6264 18.0556L10.9705 20.5951ZM24.4474 2.42464L20.8413 20.9157C20.8066 21.0926 20.6957 21.5044 20.4107 21.5044C20.2698 21.5044 20.0929 21.4247 19.9118 21.2799L15.2709 17.3993C15.2703 17.3987 15.2695 17.3981 15.2687 17.3977L12.5072 15.0885L20.438 6.33728C20.692 6.05713 20.715 5.62804 20.4926 5.32029C20.27 5.01254 19.8668 4.91572 19.5369 5.09081L6.49284 12.011L1.8656 10.6362L23.8674 1.91439C24.0532 1.84064 24.183 1.8252 24.2589 1.8252C24.3056 1.8252 24.3885 1.83096 24.4192 1.87031C24.4597 1.9216 24.5113 2.09649 24.4474 2.42464Z" fill="#6E6E6E"/>
                        </svg>

                li
                    a(href='#')
                        <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6631 17.124C17.5691 17.124 16.1764 14.6513 16.4779 13.9403C16.4734 13.4093 16.4689 12.8985 16.4869 12.588C16.7344 12.6578 17.3182 12.9536 18.5243 14.1259C20.3861 16.0046 20.862 17.124 22.3661 17.124H25.1347C26.0122 17.124 26.469 16.7606 26.6974 16.4558C26.9179 16.161 27.1339 15.6435 26.8976 14.838C26.28 12.8985 22.6777 9.5494 22.4539 9.19615C22.4876 9.1309 22.5416 9.04427 22.5697 8.99927H22.5675C23.2785 8.0599 25.992 3.99415 26.3914 2.3674C26.3925 2.36515 26.3936 2.36177 26.3936 2.3584C26.6096 1.6159 26.4116 1.1344 26.2069 0.862149C25.8986 0.454899 25.4081 0.249023 24.7455 0.249023H21.9769C21.0499 0.249023 20.3468 0.715898 19.9913 1.56752C19.3961 3.08065 17.7244 6.1924 16.4711 7.29377C16.4329 5.7334 16.4587 4.54202 16.479 3.65665C16.5195 1.92977 16.65 0.249023 14.8579 0.249023H10.5064C9.38363 0.249023 8.30925 1.47527 9.4725 2.93102C10.4895 4.20677 9.83812 4.91777 10.0575 8.45702C9.2025 7.54015 7.6815 5.06402 6.606 1.8994C6.3045 1.04327 5.84775 0.250148 4.56187 0.250148H1.79325C0.6705 0.250148 0 0.862148 0 1.88702C0 4.18877 5.09513 17.124 13.6631 17.124ZM4.56187 1.93765C4.806 1.93765 4.83075 1.93765 5.01188 2.45177C6.11325 5.69515 8.58375 10.4944 10.3883 10.4944C11.7439 10.4944 11.7439 9.10502 11.7439 8.5819L11.7428 4.41715C11.6685 3.03902 11.1668 2.35277 10.8371 1.93652L14.7836 1.94102C14.7859 1.96015 14.7611 6.5479 14.7949 7.6594C14.7949 9.23777 16.0481 10.1423 18.0045 8.16227C20.0689 5.8324 21.4965 2.3494 21.5539 2.20765C21.6383 2.00515 21.7114 1.93652 21.9769 1.93652H24.7455H24.7568C24.7556 1.9399 24.7556 1.94327 24.7545 1.94665C24.5014 3.1279 22.0028 6.89215 21.1669 8.06102C21.1534 8.07902 21.141 8.09815 21.1286 8.11727C20.7607 8.71802 20.4615 9.38177 21.1793 10.3155H21.1804C21.2456 10.3943 21.4155 10.5788 21.663 10.8353C22.4325 11.6295 25.0717 14.3453 25.3057 15.4253C25.1505 15.45 24.9818 15.432 22.3661 15.4376C21.8092 15.4376 21.3739 14.6051 19.7122 12.9289C18.2183 11.4754 17.2485 10.8814 16.3654 10.8814C14.6509 10.8814 14.7758 12.273 14.7915 13.956C14.7971 15.7808 14.7859 15.2036 14.7983 15.3184C14.6981 15.3578 14.4113 15.4365 13.6631 15.4365C6.525 15.4365 1.8765 4.10665 1.69762 1.94102C1.7595 1.9354 2.61112 1.93877 4.56187 1.93765Z" fill="#6E6E6E"/>
                        </svg>

                li
                    a(href='#')
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M25.8654 9.36305C25.8656 6.92119 24.8717 4.61937 23.067 2.8815C21.2623 1.14363 18.8719 0.186523 16.3359 0.186523H10.6896C10.6894 0.186523 10.6894 0.186523 10.6894 0.186523C8.15385 0.186523 5.76329 1.14363 3.95879 2.8813C2.15408 4.61937 1.16016 6.92119 1.16016 9.36305V13.637C1.16016 15.5282 1.75919 17.3472 2.89256 18.8978C3.89246 20.2657 5.23718 21.3343 6.805 22.0117V24.4667C6.805 25.736 7.54308 26.1865 8.17506 26.1865C8.6266 26.1865 9.07814 25.9719 9.51773 25.5488L12.358 22.8137L16.3361 22.8135C18.8719 22.8135 21.2623 21.8564 23.067 20.1188C24.8717 18.3809 25.8656 16.0789 25.8656 13.637L25.8654 9.36305ZM16.3361 21.2901L12.0304 21.2903C11.8205 21.2903 11.6195 21.3704 11.4712 21.5133L8.39919 24.4715C8.39527 24.4754 8.39115 24.4792 8.38703 24.483C8.38703 24.4776 8.38703 24.4721 8.38703 24.4667V21.5033C8.38703 21.1873 8.18454 20.9043 7.87802 20.7916C4.80624 19.6629 2.74239 16.7876 2.74239 13.637V9.36305C2.74239 7.32803 3.57172 5.40866 5.07754 3.95842C6.58335 2.50858 8.57634 1.70996 10.6896 1.70996H16.3359C18.4492 1.70996 20.4424 2.50858 21.9482 3.95862C23.4542 5.40886 24.2836 7.32823 24.2834 9.36305L24.2836 13.637C24.2834 17.857 20.7182 21.2901 16.3361 21.2901Z" fill="#6E6E6E"/>
                        <path d="M15.6164 12.645C15.3076 12.3475 14.8068 12.3475 14.4978 12.645L13.8588 13.2602L11.3828 10.876L12.0218 10.2609C12.1701 10.1181 12.2535 9.92427 12.2535 9.72214C12.2535 9.5202 12.1701 9.3264 12.0218 9.18358L9.02624 6.29897C8.87792 6.15614 8.67687 6.07581 8.46696 6.07581C8.25726 6.07581 8.05601 6.15614 7.90769 6.29897L5.81068 8.31831C4.67668 9.41031 4.67668 11.1875 5.81088 12.28L12.4008 18.6263C12.9488 19.1538 13.6794 19.4442 14.4579 19.4442C15.2365 19.4442 15.9672 19.1538 16.5151 18.6263L18.6122 16.6072C18.7605 16.4641 18.8439 16.2705 18.8439 16.0684C18.8439 15.8665 18.7605 15.6727 18.6122 15.5298L15.6164 12.645ZM15.3964 17.5488C15.1473 17.7886 14.814 17.9207 14.4579 17.9207C14.1017 17.9207 13.7684 17.7886 13.5194 17.5488L6.92963 11.2027C6.41218 10.7044 6.41197 9.89352 6.92943 9.39543L8.46696 7.91464L10.3438 9.72214L9.70478 10.3373C9.55646 10.4801 9.47304 10.6739 9.47304 10.8758C9.47304 11.078 9.55646 11.2716 9.70478 11.4146L13.2994 14.876C13.6084 15.1734 14.1091 15.1736 14.4181 14.876L15.0571 14.2609L16.9339 16.0682L15.3964 17.5488Z" fill="#6E6E6E"/>
                        <path d="M13.7048 3.55615C13.2679 3.55615 12.9138 3.89714 12.9138 4.31787C12.9138 4.7384 13.2679 5.07959 13.7048 5.07959C15.515 5.07959 17.2172 5.75839 18.4972 6.99123C19.7775 8.22386 20.4824 9.86275 20.4824 11.6062C20.4824 12.0267 20.8365 12.3679 21.2734 12.3679C21.7101 12.3679 22.0644 12.0269 22.0644 11.6062C22.0644 9.4559 21.1949 7.43437 19.616 5.91391C18.037 4.39345 15.9377 3.55615 13.7048 3.55615Z" fill="#6E6E6E"/>
                        <path d="M17.0934 11.6059C17.0934 12.0264 17.4477 12.3676 17.8844 12.3676C18.3213 12.3676 18.6754 12.0264 18.6754 11.6059C18.6754 8.96668 16.4455 6.81958 13.7048 6.81958C13.2679 6.81958 12.9138 7.16057 12.9138 7.5813C12.9138 8.00203 13.2679 8.34302 13.7048 8.34302C15.5733 8.34302 17.0934 9.80675 17.0934 11.6059Z" fill="#6E6E6E"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="27" height="26" fill="white" transform="translate(0 0.186523)"/>
                        </clipPath>
                        </defs>
                        </svg>

                li
                    a(href='#')
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M12.5007 0.186523C9.05385 0.186523 6.25073 2.87752 6.25073 6.18652C6.25073 9.49552 9.05385 12.1865 12.5007 12.1865C15.9476 12.1865 18.7507 9.49552 18.7507 6.18652C18.7507 2.87752 15.9476 0.186523 12.5007 0.186523ZM12.5007 10.6865C9.91635 10.6865 7.81323 8.66752 7.81323 6.18652C7.81323 3.70552 9.91635 1.68652 12.5007 1.68652C15.0851 1.68652 17.1882 3.70552 17.1882 6.18652C17.1882 8.66752 15.0851 10.6865 12.5007 10.6865Z" fill="#6E6E6E"/>
                        <path d="M18.6102 23.0059L13.1414 15.5059C12.8508 15.1069 12.1555 15.1069 11.8617 15.5059L6.39297 23.0059C6.14609 23.3449 6.23047 23.8129 6.58516 24.0499C6.93828 24.2884 7.42578 24.2059 7.67266 23.8669L12.5008 17.2444L17.3305 23.8669C17.482 24.0754 17.7242 24.1864 17.9695 24.1864C18.1258 24.1864 18.2805 24.1429 18.4195 24.0499C18.7727 23.8129 18.8586 23.3464 18.6102 23.0059Z" fill="#6E6E6E"/>
                        <path d="M20.2335 12.5496C19.9289 12.2571 19.4335 12.2571 19.1289 12.5496C15.471 16.0596 9.52573 16.0596 5.87105 12.5496C5.56636 12.2571 5.07104 12.2571 4.76636 12.5496C4.46167 12.8421 4.46167 13.3176 4.76636 13.6101C6.89917 15.6561 9.70073 16.6806 12.5007 16.6806C15.3007 16.6806 18.1023 15.6561 20.2335 13.6101C20.5382 13.3176 20.5382 12.8421 20.2335 12.5496Z" fill="#6E6E6E"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="25" height="24" fill="white" transform="translate(0 0.186523)"/>
                        </clipPath>
                        </defs>
                        </svg>
            p.footer__left ООО Века и другая юр информация
        - for(var y = 0; y < 3; y++)
            .footer__item
                ul.footer__list
                    - for(var x = 0; x < 4; x++)
                        li
                            a(href='#') Категория 2
.footer__copyright Копирайтинг и мб инфомрация veka © 2011-2021