
.topline
    .wrapper.wrapper_f.wrapper_jcsb.wrapper_aic
        .topline__left.wrapper_f.wrapper_jcfs.wrapper_aic
            .topline__city
                span Москва
                <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6L0.535898 0L7.4641 0L4 6Z" fill="#1E1E1E"/>
                </svg>
            ul.topline__menu
                - for(var x = 0; x < 6; x++)
                    li
                        a(href='#') Отзывы

        .topline__right.wrapper_f.wrapper_jcfs.wrapper_aic
            .topline__phone
                a(href='#') 8 (800) 707-39-84
            .topline__callback
                a(href='#') Заказать звонок
