.lk-topline
    .wrapper_f.wrapper_jcsb.wrapper_aic
        .lk-topline__item.active
            a(href='#')
                <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.288 7.72018L22.2695 7.6882C22.2438 7.63502 22.2143 7.5841 22.1812 7.53571L18.7033 1.52271C18.4527 1.0896 17.9863 0.820557 17.486 0.820557H5.51637C5.01524 0.820557 4.54845 1.09023 4.29801 1.52451L0.76333 7.65665C0.731494 7.71193 0.708545 7.76974 0.692334 7.82848C0.642578 7.96281 0.615234 8.10797 0.615234 8.25944V24.0976C0.615234 25.0476 1.38814 25.8205 2.33814 25.8205H20.6636C21.6136 25.8205 22.3865 25.0476 22.3865 24.0976V8.20138C22.3865 8.18014 22.3858 8.15905 22.3847 8.13805C22.3947 7.99708 22.3641 7.85172 22.288 7.72018ZM12.2586 2.28594H17.4519L20.1878 7.01608H12.2586V2.28594ZM5.5505 2.28594H10.7932V7.01608H2.82393L5.5505 2.28594ZM20.9211 24.0977C20.9211 24.2396 20.8056 24.3552 20.6636 24.3552H2.33814C2.19615 24.3552 2.08062 24.2396 2.08062 24.0977V8.48146H20.9211V24.0977Z" fill="#1E1E1E"/>
                </svg>
                span Мои заказы
                .lk-topline__count 11
        .lk-topline__item
            a(href='#')
                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 3.9041C0 3.07529 0.351189 2.28042 0.976311 1.69436C1.60143 1.1083 2.44928 0.779053 3.33333 0.779053L16.6667 0.779053C17.5507 0.779053 18.3986 1.1083 19.0237 1.69436C19.6488 2.28042 20 3.07529 20 3.9041V24.9982C19.9999 25.1395 19.959 25.2782 19.8815 25.3994C19.804 25.5206 19.6929 25.6198 19.56 25.6866C19.4271 25.7533 19.2774 25.7849 19.1268 25.7782C18.9763 25.7714 18.8305 25.7265 18.705 25.6482L10 21.2497L1.295 25.6482C1.16951 25.7265 1.02372 25.7714 0.873152 25.7782C0.722588 25.7849 0.572888 25.7533 0.439999 25.6866C0.30711 25.6198 0.196007 25.5206 0.118523 25.3994C0.0410401 25.2782 7.78674e-05 25.1395 0 24.9982V3.9041ZM3.33333 2.34158C2.89131 2.34158 2.46738 2.5062 2.15482 2.79923C1.84226 3.09226 1.66667 3.4897 1.66667 3.9041V23.5388L9.53833 19.6606C9.6751 19.5753 9.83572 19.5298 10 19.5298C10.1643 19.5298 10.3249 19.5753 10.4617 19.6606L18.3333 23.5388V3.9041C18.3333 3.4897 18.1577 3.09226 17.8452 2.79923C17.5326 2.5062 17.1087 2.34158 16.6667 2.34158H3.33333Z" fill="#1E1E1E"/>
                </svg>
                span Мои закладки
                .lk-topline__count 11
        .lk-topline__item
            a(href='#')
                <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.35714 18.6362H1.78571V23.9933H5.35714V18.6362ZM14.2857 11.4933H10.7143V23.9933H14.2857V11.4933ZM23.2143 2.56477V23.9933H19.6429V2.56477H23.2143ZM19.6429 0.779053C19.1693 0.779053 18.7151 0.96719 18.3802 1.30208C18.0453 1.63696 17.8571 2.09117 17.8571 2.56477V23.9933C17.8571 24.4669 18.0453 24.9211 18.3802 25.256C18.7151 25.5909 19.1693 25.7791 19.6429 25.7791H23.2143C23.6879 25.7791 24.1421 25.5909 24.477 25.256C24.8119 24.9211 25 24.4669 25 23.9933V2.56477C25 2.09117 24.8119 1.63696 24.477 1.30208C24.1421 0.96719 23.6879 0.779053 23.2143 0.779053H19.6429ZM8.92857 11.4933C8.92857 11.0197 9.11671 10.5655 9.4516 10.2306C9.78648 9.89576 10.2407 9.70762 10.7143 9.70762H14.2857C14.7593 9.70762 15.2135 9.89576 15.5484 10.2306C15.8833 10.5655 16.0714 11.0197 16.0714 11.4933V23.9933C16.0714 24.4669 15.8833 24.9211 15.5484 25.256C15.2135 25.5909 14.7593 25.7791 14.2857 25.7791H10.7143C10.2407 25.7791 9.78648 25.5909 9.4516 25.256C9.11671 24.9211 8.92857 24.4669 8.92857 23.9933V11.4933ZM0 18.6362C0 18.1626 0.188137 17.7084 0.523023 17.3735C0.85791 17.0386 1.31211 16.8505 1.78571 16.8505H5.35714C5.83074 16.8505 6.28495 17.0386 6.61983 17.3735C6.95472 17.7084 7.14286 18.1626 7.14286 18.6362V23.9933C7.14286 24.4669 6.95472 24.9211 6.61983 25.256C6.28495 25.5909 5.83074 25.7791 5.35714 25.7791H1.78571C1.31211 25.7791 0.85791 25.5909 0.523023 25.256C0.188137 24.9211 0 24.4669 0 23.9933V18.6362Z" fill="black"/>
                </svg>
                span Мои сравнения
        .lk-topline__item
            a(href='#')
                <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M14.8447 4.82837H5.46973C5.03848 4.82837 4.68848 5.17837 4.68848 5.60962C4.68848 6.04087 5.03848 6.39087 5.46973 6.39087H14.8447C15.276 6.39087 15.626 6.04087 15.626 5.60962C15.626 5.17837 15.276 4.82837 14.8447 4.82837Z" fill="#0069B4"/>
                <path d="M11.7197 7.95337H5.46973C5.03848 7.95337 4.68848 8.30337 4.68848 8.73462C4.68848 9.16587 5.03848 9.51587 5.46973 9.51587H11.7197C12.151 9.51587 12.501 9.16587 12.501 8.73462C12.501 8.30337 12.151 7.95337 11.7197 7.95337Z" fill="#0069B4"/>
                <path d="M17.1885 0.140869H3.12598C1.40254 0.140869 0.000976562 1.54243 0.000976562 3.26587V18.8909C0.000976562 19.194 0.175977 19.4706 0.450977 19.5987C0.555664 19.6471 0.669727 19.6721 0.782227 19.6721C0.961914 19.6721 1.14004 19.6096 1.28223 19.4909L5.75254 15.7659H17.1885C18.9119 15.7659 20.3135 14.3643 20.3135 12.6409V3.26587C20.3135 1.54243 18.9119 0.140869 17.1885 0.140869ZM18.751 12.6409C18.751 13.5018 18.051 14.2034 17.1885 14.2034H5.46973C5.28691 14.2034 5.11035 14.2674 4.96973 14.3846L1.56348 17.2237V3.26587C1.56348 2.40493 2.26348 1.70337 3.12598 1.70337H17.1885C18.051 1.70337 18.751 2.40493 18.751 3.26587V12.6409Z" fill="#0069B4"/>
                <path d="M21.876 6.39087C21.4447 6.39087 21.0947 6.74087 21.0947 7.17212C21.0947 7.60337 21.4447 7.95337 21.876 7.95337C22.7385 7.95337 23.4385 8.65493 23.4385 9.51587V22.7331L20.801 20.6237C20.6635 20.5143 20.49 20.4534 20.3135 20.4534H9.37598C8.51348 20.4534 7.81348 19.7518 7.81348 18.8909V18.1096C7.81348 17.6784 7.46348 17.3284 7.03223 17.3284C6.60098 17.3284 6.25098 17.6784 6.25098 18.1096V18.8909C6.25098 20.6143 7.65254 22.0159 9.37598 22.0159H20.0385L23.7307 24.9706C23.8729 25.0831 24.0463 25.1409 24.2197 25.1409C24.3338 25.1409 24.4494 25.1159 24.5588 25.0643C24.8291 24.9331 25.001 24.6596 25.001 24.3596V9.51587C25.001 7.79243 23.5994 6.39087 21.876 6.39087Z" fill="#0069B4"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="25" height="25" fill="white" transform="translate(0.000976562 0.140869)"/>
                </clipPath>
                </defs>
                </svg>
                span Мои отзывы
        .lk-topline__item
            a(href='#')
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1562 25.906C10.1965 25.906 7.32588 24.8531 5.0731 22.9411C4.54414 22.4925 4.04795 21.9951 3.59844 21.4628C1.70103 19.2138 0.65625 16.3526 0.65625 13.406C0.65625 10.0671 1.95645 6.92808 4.31738 4.56714C6.67832 2.2062 9.81733 0.906006 13.1562 0.906006C16.4952 0.906006 19.6342 2.2062 21.9951 4.56714C24.3561 6.92808 25.6562 10.0671 25.6562 13.406C25.6562 16.3527 24.6115 19.2139 22.7143 21.4625C22.2646 21.9951 21.7684 22.4925 21.2393 22.9413C18.9866 24.8531 16.116 25.906 13.1562 25.906ZM13.1562 2.46851C7.12529 2.46851 2.21875 7.37505 2.21875 13.406C2.21875 15.9844 3.13276 18.4877 4.79243 20.455C5.18599 20.9209 5.62061 21.3566 6.08398 21.7497C8.05488 23.4224 10.5665 24.3435 13.1562 24.3435C15.746 24.3435 18.2576 23.4224 20.2284 21.7498C20.6919 21.3566 21.1265 20.9209 21.5203 20.4546C23.1797 18.4878 24.0938 15.9844 24.0938 13.406C24.0938 7.37505 19.1872 2.46851 13.1562 2.46851Z" fill="#404040"/>
                <path d="M13.1562 13.406C10.5715 13.406 8.46875 11.3032 8.46875 8.71851C8.46875 6.13379 10.5715 4.03101 13.1562 4.03101C15.741 4.03101 17.8438 6.13379 17.8438 8.71851C17.8438 11.3032 15.741 13.406 13.1562 13.406ZM13.1562 5.59351C11.4331 5.59351 10.0312 6.99536 10.0312 8.71851C10.0312 10.4417 11.4331 11.8435 13.1562 11.8435C14.8794 11.8435 16.2812 10.4417 16.2812 8.71851C16.2812 6.99536 14.8794 5.59351 13.1562 5.59351Z" fill="#404040"/>
                <path d="M20.7345 23.1269C20.6715 23.1269 20.6075 23.1192 20.5437 23.1032C20.1252 22.9982 19.8711 22.5738 19.9761 22.1553C20.1164 21.5965 20.1875 21.0185 20.1875 20.4373C20.1875 16.6147 17.0798 13.4614 13.2591 13.4065L13.1562 13.406L13.0534 13.4065C9.23272 13.4614 6.125 16.6147 6.125 20.4373C6.125 21.0185 6.19614 21.5965 6.33638 22.1553C6.44141 22.5738 6.1873 22.9982 5.76885 23.1032C5.35039 23.2083 4.92593 22.9542 4.8209 22.5357C4.64941 21.8526 4.5625 21.1466 4.5625 20.4373C4.5625 18.1629 5.44224 16.0191 7.03965 14.4006C8.6355 12.7837 10.7645 11.8758 13.0345 11.8441C13.0381 11.844 13.0417 11.844 13.0454 11.844L13.1562 11.8435L13.2671 11.844C13.2708 11.844 13.2744 11.844 13.278 11.844C15.548 11.8757 17.677 12.7837 19.2729 14.4006C20.8703 16.0191 21.75 18.1629 21.75 20.4373C21.75 21.1466 21.6631 21.8526 21.4916 22.5357C21.4026 22.8903 21.0842 23.1269 20.7345 23.1269Z" fill="#404040"/>
                </svg>
                span Профиль