.subcategories {
  padding-top: 49px;
  @include media(992) {
    padding-top: 15px;
  }
  @include media(768) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    background: #FFFFFF;
    border: 3px solid #0069B4;
    max-width: 215px;
    margin-right: 23px;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    &:last-child {
      margin-right: 0;
    }
    @include media(992) {
      padding: 0;
      border: none;
    }
    @include media(768) {
      margin-right: 0;
      margin-bottom: 15px;
      max-width: 154px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__wrap {
    position: relative;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0069B4;
    z-index: 2;
    min-height: 68px;
    padding: 9px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media(992) {
      position: relative;
      min-height: 98px;
    }
  }
  &__image {
    padding: 0 15px;
    @include media(992) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  &__count {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* identical to box height, or 292% */
    color: #FFFFFF;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    /* identical to box height, or 233% */


    color: #FFFFFF;
    @include media(992) {
      max-width: 90px;
      line-height: 30px;
    }
  }
}
.quicklinks {
  @include media(992) {
    display: none;
  }
  padding-top: 40px;
  a {
    background: rgba(91, 197, 242, 0.4);
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    /* or 107% */


    color: #404040;
    margin-right: 16px;
    padding: 10px 15px;
    transition: all .25s;
    margin-bottom: 16px;
    display: block;
    &:hover {
      background: rgba(91, 197, 242, 0.8);
    }
  }
}
.catalog {
  padding-top: 93px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  @include media(992) {
    padding-top: 30px;
  }
  &__load {
    text-align: center;
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 35px;
      /* or 219% */


      color: #437FC8;
      text-decoration: none;
    }
  }
  &__content {
    padding-top: 120px;
    @include media(992) {
      padding-top: 50px;
    }
  }
}
.catalog-list {
  &__wrap {
    flex-wrap: wrap;
    max-width: 1052px;
  }
  &__sidebar {
    max-width: 272px;
  }
}