@import "vars";
@import "libs";
@import "fonts";
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  min-width: 320px;
  overflow-x: hidden;
  font-family: Cera, sans-serif;
}
@import "layouts/index";