extends layout/layout.jade

block content
    include components/layouts/breadcrumbs.jade
    .wrapper
        .market__line
            .market__topline.wrapper_f.wrapper_jcfs.wrapper_aic
                .card__promo -20%
                .card__event.card__event_market Новинка
                .market__review-count.wrapper_f.wrapper_jcfs.wrapper_aic
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5394 6.96463C18.4208 6.60015 18.0976 6.34211 17.7166 6.30764L12.5205 5.83591L10.467 1.02821C10.3154 0.674992 9.97043 0.447021 9.58645 0.447021C9.20247 0.447021 8.85736 0.674992 8.70671 1.02821L6.65319 5.83591L1.45629 6.30764C1.07534 6.3428 0.752745 6.60084 0.633541 6.96463C0.515024 7.32911 0.624477 7.72888 0.912599 7.98157L4.84041 11.4257L3.6823 16.5265C3.59757 16.9015 3.74314 17.2893 4.05433 17.5143C4.2216 17.6358 4.41812 17.6965 4.61533 17.6965C4.7848 17.6965 4.9544 17.6515 5.10588 17.5608L9.58645 14.8818L14.0662 17.5608C14.3948 17.7572 14.8081 17.7392 15.1186 17.5143C15.4298 17.2893 15.5753 16.9015 15.4906 16.5265L14.3325 11.4257L18.2603 7.98157C18.5483 7.72888 18.6579 7.32993 18.5394 6.96463Z" fill="#0069B4"/>
                    </svg>
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5394 6.96463C18.4208 6.60015 18.0976 6.34211 17.7166 6.30764L12.5205 5.83591L10.467 1.02821C10.3154 0.674992 9.97043 0.447021 9.58645 0.447021C9.20247 0.447021 8.85736 0.674992 8.70671 1.02821L6.65319 5.83591L1.45629 6.30764C1.07534 6.3428 0.752745 6.60084 0.633541 6.96463C0.515024 7.32911 0.624477 7.72888 0.912599 7.98157L4.84041 11.4257L3.6823 16.5265C3.59757 16.9015 3.74314 17.2893 4.05433 17.5143C4.2216 17.6358 4.41812 17.6965 4.61533 17.6965C4.7848 17.6965 4.9544 17.6515 5.10588 17.5608L9.58645 14.8818L14.0662 17.5608C14.3948 17.7572 14.8081 17.7392 15.1186 17.5143C15.4298 17.2893 15.5753 16.9015 15.4906 16.5265L14.3325 11.4257L18.2603 7.98157C18.5483 7.72888 18.6579 7.32993 18.5394 6.96463Z" fill="#0069B4"/>
                    </svg>
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5394 6.96463C18.4208 6.60015 18.0976 6.34211 17.7166 6.30764L12.5205 5.83591L10.467 1.02821C10.3154 0.674992 9.97043 0.447021 9.58645 0.447021C9.20247 0.447021 8.85736 0.674992 8.70671 1.02821L6.65319 5.83591L1.45629 6.30764C1.07534 6.3428 0.752745 6.60084 0.633541 6.96463C0.515024 7.32911 0.624477 7.72888 0.912599 7.98157L4.84041 11.4257L3.6823 16.5265C3.59757 16.9015 3.74314 17.2893 4.05433 17.5143C4.2216 17.6358 4.41812 17.6965 4.61533 17.6965C4.7848 17.6965 4.9544 17.6515 5.10588 17.5608L9.58645 14.8818L14.0662 17.5608C14.3948 17.7572 14.8081 17.7392 15.1186 17.5143C15.4298 17.2893 15.5753 16.9015 15.4906 16.5265L14.3325 11.4257L18.2603 7.98157C18.5483 7.72888 18.6579 7.32993 18.5394 6.96463Z" fill="#0069B4"/>
                    </svg>
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5394 6.96463C18.4208 6.60015 18.0976 6.34211 17.7166 6.30764L12.5205 5.83591L10.467 1.02821C10.3154 0.674992 9.97043 0.447021 9.58645 0.447021C9.20247 0.447021 8.85736 0.674992 8.70671 1.02821L6.65319 5.83591L1.45629 6.30764C1.07534 6.3428 0.752745 6.60084 0.633541 6.96463C0.515024 7.32911 0.624477 7.72888 0.912599 7.98157L4.84041 11.4257L3.6823 16.5265C3.59757 16.9015 3.74314 17.2893 4.05433 17.5143C4.2216 17.6358 4.41812 17.6965 4.61533 17.6965C4.7848 17.6965 4.9544 17.6515 5.10588 17.5608L9.58645 14.8818L14.0662 17.5608C14.3948 17.7572 14.8081 17.7392 15.1186 17.5143C15.4298 17.2893 15.5753 16.9015 15.4906 16.5265L14.3325 11.4257L18.2603 7.98157C18.5483 7.72888 18.6579 7.32993 18.5394 6.96463Z" fill="#0069B4"/>
                    </svg>
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5394 6.96463C18.4208 6.60015 18.0976 6.34211 17.7166 6.30764L12.5205 5.83591L10.467 1.02821C10.3154 0.674992 9.97043 0.447021 9.58645 0.447021C9.20247 0.447021 8.85736 0.674992 8.70671 1.02821L6.65319 5.83591L1.45629 6.30764C1.07534 6.3428 0.752745 6.60084 0.633541 6.96463C0.515024 7.32911 0.624477 7.72888 0.912599 7.98157L4.84041 11.4257L3.6823 16.5265C3.59757 16.9015 3.74314 17.2893 4.05433 17.5143C4.2216 17.6358 4.41812 17.6965 4.61533 17.6965C4.7848 17.6965 4.9544 17.6515 5.10588 17.5608L9.58645 14.8818L14.0662 17.5608C14.3948 17.7572 14.8081 17.7392 15.1186 17.5143C15.4298 17.2893 15.5753 16.9015 15.4906 16.5265L14.3325 11.4257L18.2603 7.98157C18.5483 7.72888 18.6579 7.32993 18.5394 6.96463Z" fill="#0069B4"/>
                    </svg>
                    .market__comment-count
                        <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.5864 12.0904C23.5864 10.0335 22.1466 8.2387 20.003 7.26733C20.1295 7.71583 20.2023 8.1789 20.2154 8.65423C20.4293 8.7815 20.6363 8.91873 20.8295 9.06823C21.9105 9.90237 22.5069 10.9749 22.5069 12.0904C22.5069 13.2052 21.9128 14.2785 20.8295 15.1111C19.6434 16.0257 18.0488 16.5302 16.3399 16.5302C15.1876 16.5302 14.0874 16.3002 13.1291 15.8716C12.5341 15.9889 11.9154 16.0633 11.2783 16.0894C12.5855 17.0715 14.3703 17.6779 16.3399 17.6779C17.6041 17.6779 18.7924 17.4295 19.8267 16.9902L22.4648 18.3365L21.9319 15.6447C22.9646 14.6787 23.5864 13.4405 23.5864 12.0904Z" fill="#0069B4"/>
                        <path d="M19.4648 7.90216C19.4503 7.42759 19.379 6.96376 19.2532 6.51602C18.3325 3.23929 14.5513 0.784424 10.0272 0.784424C4.81306 0.78519 0.586426 4.04506 0.586426 8.06622C0.586426 9.82572 1.39526 11.438 2.74229 12.6977L2.04769 16.2029L5.48466 14.4495C6.83246 15.0214 8.38036 15.348 10.0272 15.348C10.1951 15.348 10.3622 15.3434 10.5278 15.3373C11.1634 15.312 11.7828 15.2369 12.3793 15.1188C16.4549 14.313 19.4679 11.461 19.4679 8.06622C19.4671 8.01179 19.4664 7.95736 19.4648 7.90216ZM15.8776 12.0038C14.4462 13.1063 12.5579 13.7518 10.5163 13.8408C10.3545 13.8492 10.1912 13.853 10.0264 13.853C9.71053 13.853 9.39849 13.8392 9.08953 13.8124C7.22039 13.656 5.50229 13.0281 4.17673 12.0054C2.76836 10.919 1.99249 9.52059 1.99249 8.06776C1.99249 6.61492 2.76836 5.21652 4.17673 4.13016C5.72156 2.93876 7.79923 2.28249 10.0264 2.28249C12.2543 2.28249 14.3328 2.93876 15.8761 4.13016C16.5753 4.66912 17.1173 5.28476 17.4884 5.94562C17.723 6.36499 17.8878 6.80276 17.979 7.25049C18.0335 7.51959 18.0611 7.79252 18.0611 8.06699C18.0611 9.51906 17.286 10.9175 15.8776 12.0038Z" fill="#0069B4"/>
                        <path d="M13.376 9.12107C13.9463 9.12107 14.4087 8.65871 14.4087 8.08836C14.4087 7.51802 13.9463 7.05566 13.376 7.05566C12.8056 7.05566 12.3433 7.51802 12.3433 8.08836C12.3433 8.65871 12.8056 9.12107 13.376 9.12107Z" fill="#0069B4"/>
                        <path d="M10.0273 9.12107C10.5977 9.12107 11.06 8.65871 11.06 8.08836C11.06 7.51802 10.5977 7.05566 10.0273 7.05566C9.45698 7.05566 8.99463 7.51802 8.99463 8.08836C8.99463 8.65871 9.45698 9.12107 10.0273 9.12107Z" fill="#0069B4"/>
                        <path d="M6.67849 9.12186C7.24925 9.12186 7.71195 8.65917 7.71195 8.0884C7.71195 7.51763 7.24925 7.05493 6.67849 7.05493C6.10772 7.05493 5.64502 7.51763 5.64502 8.0884C5.64502 8.65917 6.10772 9.12186 6.67849 9.12186Z" fill="#0069B4"/>
                        </svg>
                        | 13
            .market__top.wrapper_f.wrapper_jcsb.wrapper_aic
                .market__images
                    .market__arrow.market__arrow_prev
                        <svg width="16" height="7" viewBox="0 0 16 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9781 6.36466C14.734 6.54511 14.3394 6.54511 14.0953 6.36466L7.66895 1.61414L1.24264 6.36466C0.998534 6.54511 0.603943 6.54511 0.359837 6.36466C0.115731 6.18421 0.115732 5.89252 0.359838 5.71207L7.22756 0.635235C7.3493 0.545237 7.50913 0.5 7.66898 0.5C7.82882 0.5 7.98864 0.545237 8.11039 0.635235L14.9781 5.71207C15.2222 5.89252 15.2222 6.18421 14.9781 6.36466Z" fill="#999999"/>
                        </svg>
                    .market__arrow.market__arrow_next
                        <svg width="16" height="6" viewBox="0 0 16 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.8603 0.135338C1.10441 -0.0451127 1.499 -0.0451127 1.7431 0.135338L8.16943 4.88586L14.5957 0.135338C14.8398 -0.0451127 15.2344 -0.0451127 15.4785 0.135338C15.7226 0.315789 15.7226 0.607483 15.4785 0.787934L8.61082 5.86477C8.48907 5.95476 8.32925 6 8.1694 6C8.00955 6 7.84973 5.95476 7.72799 5.86477L0.86027 0.787934C0.616194 0.607483 0.616195 0.315789 0.8603 0.135338Z" fill="#999999"/>
                        </svg>
                    .js-market-subslider
                        - for(var x = 0;x<10;x++)
                            .market__subimage
                                img(src='../img/card-img.png')
                .market__slider
                    .js-market-main
                        - for(var x = 0;x<10;x++)
                            .market__mainimage
                                a(href="http://media.w3.org/2010/05/sintel/trailer.mp4" data-fancybox)
                                    img(src='../img/card-img.png')
                .market__info
                    h1.market__title Заголовок Товара h1
                    .card__article.card__article_list Арт.: 111222
                    .card__count В наличии: 3шт.
                    .market__pricing.wrapper_f.wrapper_jcsb.wrapper_aic
                        .market__count.wrapper_f.wrapper_jcsb.wrapper_aic
                            span.js-market-minus -
                            span.js-market-count 1
                            span.js-market-plus +
                        .market__icons.wrapper_f.wrapper_jcfs.wrapper_aic
                            a(href='#').market__icon
                                <svg width="30" height="41" viewBox="0 0 30 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 5.00006V-0.000244141L5.00008 -1.69277e-05H25.0004L30.0005 -0.000244141V5.00006V38.7506V40.774L28.0579 39.7906L15.0002 32.753L1.94253 39.7906C1.75429 39.9159 1.5356 39.9878 1.30975 39.9986C1.0839 40.0094 0.859347 39.9587 0.660009 39.852C0.460672 39.7453 0.294015 39.5865 0.177788 39.3925C0.061561 39.1986 0.000116803 38.9767 0 38.7506V5.00006ZM5.00008 2.50002C4.33703 2.50002 2.50004 2.50002 2.50004 2.50002C2.50004 2.50002 2.50004 4.33701 2.50004 5.00006V36.4156L14.3077 30.2105C14.5129 30.074 14.7538 30.0011 15.0002 30.0011C15.2467 30.0011 15.4876 30.074 15.6928 30.2105L27.5004 36.4156V5.00006V2.50002H25.0004H5.00008Z" fill="#1E1E1E"/>
                                </svg>
                                span В закладки
                            a(href='#').market__icon
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.57143 28.5714H2.85714V37.1429H8.57143V28.5714ZM22.8571 17.1429H17.1429V37.1429H22.8571V17.1429ZM37.1429 2.85714V37.1429H31.4286V2.85714H37.1429ZM31.4286 0C30.6708 0 29.9441 0.301019 29.4083 0.836838C28.8724 1.37266 28.5714 2.09938 28.5714 2.85714V37.1429C28.5714 37.9006 28.8724 38.6273 29.4083 39.1632C29.9441 39.699 30.6708 40 31.4286 40H37.1429C37.9006 40 38.6273 39.699 39.1632 39.1632C39.699 38.6273 40 37.9006 40 37.1429V2.85714C40 2.09938 39.699 1.37266 39.1632 0.836838C38.6273 0.301019 37.9006 0 37.1429 0H31.4286ZM14.2857 17.1429C14.2857 16.3851 14.5867 15.6584 15.1226 15.1226C15.6584 14.5867 16.3851 14.2857 17.1429 14.2857H22.8571C23.6149 14.2857 24.3416 14.5867 24.8774 15.1226C25.4133 15.6584 25.7143 16.3851 25.7143 17.1429V37.1429C25.7143 37.9006 25.4133 38.6273 24.8774 39.1632C24.3416 39.699 23.6149 40 22.8571 40H17.1429C16.3851 40 15.6584 39.699 15.1226 39.1632C14.5867 38.6273 14.2857 37.9006 14.2857 37.1429V17.1429ZM0 28.5714C0 27.8137 0.301019 27.0869 0.836838 26.5511C1.37266 26.0153 2.09938 25.7143 2.85714 25.7143H8.57143C9.32919 25.7143 10.0559 26.0153 10.5917 26.5511C11.1276 27.0869 11.4286 27.8137 11.4286 28.5714V37.1429C11.4286 37.9006 11.1276 38.6273 10.5917 39.1632C10.0559 39.699 9.32919 40 8.57143 40H2.85714C2.09938 40 1.37266 39.699 0.836838 39.1632C0.301019 38.6273 0 37.9006 0 37.1429V28.5714Z" fill="#1E1E1E"/>
                                </svg>
                                span К сравнению
                        .market__price.wrapper_f.wrapper_jcsb.wrapper_aic
                            .card__price.card__price_market 100 000 ₽
                            .card__old.card__old_market 180 000 ₽
                    .market__buttons.wrapper_f.wrapper_jcfs.wrapper_aic
                        button.market__button Добавить в корзину
                        button.market__button.market__button_click Купить в 1 клик
                    .market__icons.market__icons_hide.wrapper_f.wrapper_jcfs.wrapper_aic
                        a(href='#').market__icon
                            <svg width="30" height="41" viewBox="0 0 30 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00006V-0.000244141L5.00008 -1.69277e-05H25.0004L30.0005 -0.000244141V5.00006V38.7506V40.774L28.0579 39.7906L15.0002 32.753L1.94253 39.7906C1.75429 39.9159 1.5356 39.9878 1.30975 39.9986C1.0839 40.0094 0.859347 39.9587 0.660009 39.852C0.460672 39.7453 0.294015 39.5865 0.177788 39.3925C0.061561 39.1986 0.000116803 38.9767 0 38.7506V5.00006ZM5.00008 2.50002C4.33703 2.50002 2.50004 2.50002 2.50004 2.50002C2.50004 2.50002 2.50004 4.33701 2.50004 5.00006V36.4156L14.3077 30.2105C14.5129 30.074 14.7538 30.0011 15.0002 30.0011C15.2467 30.0011 15.4876 30.074 15.6928 30.2105L27.5004 36.4156V5.00006V2.50002H25.0004H5.00008Z" fill="#1E1E1E"/>
                            </svg>
                            span В закладки
                        a(href='#').market__icon
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.57143 28.5714H2.85714V37.1429H8.57143V28.5714ZM22.8571 17.1429H17.1429V37.1429H22.8571V17.1429ZM37.1429 2.85714V37.1429H31.4286V2.85714H37.1429ZM31.4286 0C30.6708 0 29.9441 0.301019 29.4083 0.836838C28.8724 1.37266 28.5714 2.09938 28.5714 2.85714V37.1429C28.5714 37.9006 28.8724 38.6273 29.4083 39.1632C29.9441 39.699 30.6708 40 31.4286 40H37.1429C37.9006 40 38.6273 39.699 39.1632 39.1632C39.699 38.6273 40 37.9006 40 37.1429V2.85714C40 2.09938 39.699 1.37266 39.1632 0.836838C38.6273 0.301019 37.9006 0 37.1429 0H31.4286ZM14.2857 17.1429C14.2857 16.3851 14.5867 15.6584 15.1226 15.1226C15.6584 14.5867 16.3851 14.2857 17.1429 14.2857H22.8571C23.6149 14.2857 24.3416 14.5867 24.8774 15.1226C25.4133 15.6584 25.7143 16.3851 25.7143 17.1429V37.1429C25.7143 37.9006 25.4133 38.6273 24.8774 39.1632C24.3416 39.699 23.6149 40 22.8571 40H17.1429C16.3851 40 15.6584 39.699 15.1226 39.1632C14.5867 38.6273 14.2857 37.9006 14.2857 37.1429V17.1429ZM0 28.5714C0 27.8137 0.301019 27.0869 0.836838 26.5511C1.37266 26.0153 2.09938 25.7143 2.85714 25.7143H8.57143C9.32919 25.7143 10.0559 26.0153 10.5917 26.5511C11.1276 27.0869 11.4286 27.8137 11.4286 28.5714V37.1429C11.4286 37.9006 11.1276 38.6273 10.5917 39.1632C10.0559 39.699 9.32919 40 8.57143 40H2.85714C2.09938 40 1.37266 39.699 0.836838 39.1632C0.301019 38.6273 0 37.9006 0 37.1429V28.5714Z" fill="#1E1E1E"/>
                            </svg>
                            span К сравнению
                    .market__separator
                    .market__deliveries
                        .market__delivery.wrapper_f.wrapper_jcsb.wrapper_aic
                            p
                                span Самовывоз
                                |  в день заказа
                            span Бесплатно
                        .market__delivery.wrapper_f.wrapper_jcsb.wrapper_aic
                            p
                                span Самовывоз
                                |  в день заказа
                            span Бесплатно
        .market__content.market__content_desktop
            .market__head
                ul.wrapper_f.wrapper_jcfs.wrapper_aifs
                    li.active
                        a(href='#data-har') Характеристики
                    li
                        a(href='#id-2') Документация
                    li
                        a(href='#id-3') Видео
                    li
                        a(href='#id-4') Отзывы
            .market__wrap.wrapper_f.wrapper_jcsb.wrapper_aifs
                .market__text
                    .market__item(id='data-har').active
                        .market__specifications.wrapper_f.wrapper_jcsb.wrapper_aifs.wrapper_wrap
                            - for(var x = 0; x < 4;x++)
                                .market__specification
                                    h3 Общие характеристики
                                    - for(var y = 0; y < 8;y++)
                                        .market__specification-item.wrapper_f.wrapper_jcsb.wrapper_aifs
                                            span Бренд
                                            b Veka


                    .market__item(id='id-2')
                        p 123
                    .market__item(id='id-3')
                        p 123
                    .market__item(id='id-4')
                        p 123
                .market__banner
                    <svg width="162" height="42" viewBox="0 0 162 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4314 21.3363H19.5748C20.186 17.96 24.9741 0 24.9741 0H40.1004L26.072 41.803H11.8399L0 0H14.6434C14.6434 0 18.8843 17.96 19.4314 21.3363ZM44.9525 41.803V0H76.0276V9.86459H58.9204V15.6947H73.111V25.5626H58.9204V31.9318H76.0276V41.803H44.9525ZM108.955 20.1822L120.116 0H105.409L97.6209 14.6927L97.2737 0H83.7095V41.803H97.2737V25.5924L106.435 41.803H121.395H135.82L136.985 36.4259H146.358L147.388 41.803H161.831L150.878 0H133.839L121.395 41.803L108.955 20.1822ZM142.06 9.34209L138.106 27.1665H145.618L142.06 9.34209Z" fill="#0069B4"/>
                    </svg>
                    p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований. Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект выявляет срочную потребность поэтапного и посл....
        .market__content.market__content_mobile
            .market__banner
                <svg width="162" height="42" viewBox="0 0 162 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4314 21.3363H19.5748C20.186 17.96 24.9741 0 24.9741 0H40.1004L26.072 41.803H11.8399L0 0H14.6434C14.6434 0 18.8843 17.96 19.4314 21.3363ZM44.9525 41.803V0H76.0276V9.86459H58.9204V15.6947H73.111V25.5626H58.9204V31.9318H76.0276V41.803H44.9525ZM108.955 20.1822L120.116 0H105.409L97.6209 14.6927L97.2737 0H83.7095V41.803H97.2737V25.5924L106.435 41.803H121.395H135.82L136.985 36.4259H146.358L147.388 41.803H161.831L150.878 0H133.839L121.395 41.803L108.955 20.1822ZM142.06 9.34209L138.106 27.1665H145.618L142.06 9.34209Z" fill="#0069B4"/>
                </svg>
                p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований. Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект выявляет срочную потребность поэтапного и посл....
            .market__mobile
                .market__header.active
                    span Характеристики
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M14.1333 0L8 6.21622L1.86667 0L0 1.89189L8 10L16 1.89189L14.1333 0Z" fill="#4E5B67"/>
                    </svg>
                .market__item
                    .market__specifications.wrapper_f.wrapper_jcsb.wrapper_aifs.wrapper_wrap
                        - for(var x = 0; x < 4;x++)
                            .market__specification
                                h3 Общие характеристики
                                - for(var y = 0; y < 8;y++)
                                    .market__specification-item.wrapper_f.wrapper_jcsb.wrapper_aifs
                                        span Бренд
                                        b Veka


        .market__reviews
            h2.title.title_second.title_dark.title_normal Отзывы
            .reviews__wrap.wrapper_f.wrapper_jcsb.wrapper_aifs
                .reviews__left
                    .review
                        .review__image
                            img(src='../img/card-img.png' alt='123')
                        .review__content
                            .review__name Имя
                            .review__date 01. 01.2022
                            .review__text
                                p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований.
                        .review__stars
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                    .review
                        .review__image
                            span H
                        .review__content
                            .review__name Имя
                            .review__date 01. 01.2022
                            .review__text
                                p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований.
                        .review__stars
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                    .reviews__all
                        a(href='#') Показать еще 10 отзывов
                .reviews__box
                    .reviews__head.wrapper_f.wrapper_jcsb.wrapper_aic
                        .reviews__count 4.7 / 5
                        .reviews__stars
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.6451 9.16738C23.4946 8.70165 23.0815 8.37087 22.5928 8.32683L15.9543 7.72405L13.3293 1.57995C13.1358 1.12967 12.695 0.838196 12.2052 0.838196C11.7154 0.838196 11.2746 1.12967 11.0811 1.581L8.45605 7.72405L1.81657 8.32683C1.32873 8.37193 0.916705 8.70165 0.765265 9.16738C0.613825 9.6331 0.753683 10.1439 1.12272 10.4659L6.14059 14.8666L4.66093 21.3845C4.55266 21.8637 4.73867 22.3591 5.13631 22.6466C5.35005 22.801 5.60011 22.8796 5.85227 22.8796C6.06969 22.8796 6.28536 22.821 6.47891 22.7052L12.2052 19.2828L17.9294 22.7052C18.3482 22.9572 18.8763 22.9342 19.273 22.6466C19.6708 22.3582 19.8567 21.8627 19.7484 21.3845L18.2688 14.8666L23.2866 10.4668C23.6557 10.1439 23.7966 9.63398 23.6451 9.16738Z" fill="#0069B4"/>
                            </svg>
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.6451 9.16738C23.4946 8.70165 23.0815 8.37087 22.5928 8.32683L15.9543 7.72405L13.3293 1.57995C13.1358 1.12967 12.695 0.838196 12.2052 0.838196C11.7154 0.838196 11.2746 1.12967 11.0811 1.581L8.45605 7.72405L1.81657 8.32683C1.32873 8.37193 0.916705 8.70165 0.765265 9.16738C0.613825 9.6331 0.753683 10.1439 1.12272 10.4659L6.14059 14.8666L4.66093 21.3845C4.55266 21.8637 4.73867 22.3591 5.13631 22.6466C5.35005 22.801 5.60011 22.8796 5.85227 22.8796C6.06969 22.8796 6.28536 22.821 6.47891 22.7052L12.2052 19.2828L17.9294 22.7052C18.3482 22.9572 18.8763 22.9342 19.273 22.6466C19.6708 22.3582 19.8567 21.8627 19.7484 21.3845L18.2688 14.8666L23.2866 10.4668C23.6557 10.1439 23.7966 9.63398 23.6451 9.16738Z" fill="#0069B4"/>
                            </svg>
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.6451 9.16738C23.4946 8.70165 23.0815 8.37087 22.5928 8.32683L15.9543 7.72405L13.3293 1.57995C13.1358 1.12967 12.695 0.838196 12.2052 0.838196C11.7154 0.838196 11.2746 1.12967 11.0811 1.581L8.45605 7.72405L1.81657 8.32683C1.32873 8.37193 0.916705 8.70165 0.765265 9.16738C0.613825 9.6331 0.753683 10.1439 1.12272 10.4659L6.14059 14.8666L4.66093 21.3845C4.55266 21.8637 4.73867 22.3591 5.13631 22.6466C5.35005 22.801 5.60011 22.8796 5.85227 22.8796C6.06969 22.8796 6.28536 22.821 6.47891 22.7052L12.2052 19.2828L17.9294 22.7052C18.3482 22.9572 18.8763 22.9342 19.273 22.6466C19.6708 22.3582 19.8567 21.8627 19.7484 21.3845L18.2688 14.8666L23.2866 10.4668C23.6557 10.1439 23.7966 9.63398 23.6451 9.16738Z" fill="#0069B4"/>
                            </svg>
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.1695 9.32173L23.1694 9.32118C23.0804 9.04594 22.8367 8.85084 22.5479 8.82481L22.5476 8.82478L15.9091 8.222L15.6118 8.19501L15.4945 7.92049L12.87 1.77741C12.8699 1.77721 12.8698 1.77701 12.8697 1.77681C12.7546 1.50962 12.494 1.3382 12.2052 1.3382C11.9165 1.3382 11.656 1.50946 11.5408 1.77759C11.5407 1.77775 11.5407 1.77791 11.5406 1.77807L8.91583 7.92052L8.79854 8.19501L8.50126 8.222L1.8626 8.8247C1.86251 8.82471 1.86242 8.82472 1.86233 8.82473C1.5737 8.85152 1.33048 9.04606 1.24076 9.322C1.15096 9.59815 1.23413 9.89956 1.45145 10.0892L1.4524 10.09L6.47027 14.4907L6.69409 14.687L6.62818 14.9773L5.14864 21.4947C5.14862 21.4948 5.14861 21.4949 5.14859 21.4949C5.08432 21.7798 5.1948 22.0718 5.42913 22.2413L23.1695 9.32173ZM23.1695 9.32173C23.2592 9.59793 23.176 9.89921 22.9574 10.0905L22.957 10.0909L17.9391 14.4907L17.7152 14.687L17.7812 14.9773L19.2607 21.4949C19.325 21.7785 19.215 22.0711 18.9796 22.2417L18.9796 22.2417C18.7447 22.412 18.4336 22.425 18.1871 22.2767L18.186 22.276L12.4618 18.8536L12.2052 18.7003L11.9487 18.8536L6.2224 22.276L6.22218 22.2761M23.1695 9.32173L6.22218 22.2761M6.22218 22.2761C6.10603 22.3456 5.97906 22.3796 5.85227 22.3796C5.70475 22.3796 5.55729 22.3338 5.42923 22.2413L6.22218 22.2761Z" fill="white" stroke="#0069B4"/>
                            </svg>
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.1695 9.32173L23.1694 9.32118C23.0804 9.04594 22.8367 8.85084 22.5479 8.82481L22.5476 8.82478L15.9091 8.222L15.6118 8.19501L15.4945 7.92049L12.87 1.77741C12.8699 1.77721 12.8698 1.77701 12.8697 1.77681C12.7546 1.50962 12.494 1.3382 12.2052 1.3382C11.9165 1.3382 11.656 1.50946 11.5408 1.77759C11.5407 1.77775 11.5407 1.77791 11.5406 1.77807L8.91583 7.92052L8.79854 8.19501L8.50126 8.222L1.8626 8.8247C1.86251 8.82471 1.86242 8.82472 1.86233 8.82473C1.5737 8.85152 1.33048 9.04606 1.24076 9.322C1.15096 9.59815 1.23413 9.89956 1.45145 10.0892L1.4524 10.09L6.47027 14.4907L6.69409 14.687L6.62818 14.9773L5.14864 21.4947C5.14862 21.4948 5.14861 21.4949 5.14859 21.4949C5.08432 21.7798 5.1948 22.0718 5.42913 22.2413L23.1695 9.32173ZM23.1695 9.32173C23.2592 9.59793 23.176 9.89921 22.9574 10.0905L22.957 10.0909L17.9391 14.4907L17.7152 14.687L17.7812 14.9773L19.2607 21.4949C19.325 21.7785 19.215 22.0711 18.9796 22.2417L18.9796 22.2417C18.7447 22.412 18.4336 22.425 18.1871 22.2767L18.186 22.276L12.4618 18.8536L12.2052 18.7003L11.9487 18.8536L6.2224 22.276L6.22218 22.2761M23.1695 9.32173L6.22218 22.2761M6.22218 22.2761C6.10603 22.3456 5.97906 22.3796 5.85227 22.3796C5.70475 22.3796 5.55729 22.3338 5.42923 22.2413L6.22218 22.2761Z" fill="white" stroke="#0069B4"/>
                            </svg>
                    .reviews__counter
                        .reviews__item.wrapper_f.wrapper_jcsb.wrapper_aic
                            span.reviews__text 5 звезд
                            .reviews__separator
                                span(style='width:50%')
                            span.reviews__text 35 отзывов
                        .reviews__item.wrapper_f.wrapper_jcsb.wrapper_aic
                            span.reviews__text 5 звезд
                            .reviews__separator
                                span(style='width:50%')
                            span.reviews__text 35 отзывов
                        .reviews__item.wrapper_f.wrapper_jcsb.wrapper_aic
                            span.reviews__text 5 звезд
                            .reviews__separator
                                span(style='width:50%')
                            span.reviews__text 35 отзывов
                        .reviews__item.wrapper_f.wrapper_jcsb.wrapper_aic
                            span.reviews__text 5 звезд
                            .reviews__separator
                                span(style='width:50%')
                            span.reviews__text 35 отзывов
                        .reviews__item.wrapper_f.wrapper_jcsb.wrapper_aic
                            span.reviews__text 5 звезд
                            .reviews__separator
                                span(style='width:50%')
                            span.reviews__text 35 отзывов
                    .reviews__button
                        a(href='#') Написать отзыв
    section.section.section_populars
        .wrapper
            .populars__head.wrapper_f.wrapper_jcsb.wrapper_aic
                h2.title.title_second.title_dark.title_normal Популярные
                .populars__all
                    a(href='#') Все
                        <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 4L0 7.4641L0 0.535898L6 4Z" fill="#1E1E1E"/>
                        </svg>
            .populars.wrapper_f.wrapper_aifs.wrapper_jcfs.js-populars
                - for(var x = 0; x < 4; x++)
                    include components/items/card-slider.jade

