extends layout/layout.jade

block content
    include components/layouts/breadcrumbs.jade
    .wrapper
        h1.title.title_main.title_dark Категория 2
        include components/pages/subcategories.jade
        include components/pages/quicklinks.jade
        include components/pages/filter.jade
        .catalog
            .catalog-list.wrapper_f.wrapper_jcsb.wrapper_aifs
                .catalog-list__wrap.wrapper_f.wrapper_jcfs.wrapper_aifs
                    - for(var x = 0; x < 12; x++)
                        include components/items/card-list.jade
                .catalog-list__sidebar
                    .sidebar.sidebar_catalog(style='background: #0B1742')
                        h3.sidebar__title.sidebar__title_white
                            a(href='#') Заголовок - описание группы выбранной и картинка её или иконка
                        .sidebar__image
                            a(href='#')
                                img(src='../img/card-img.png')
        .catalog__load
            a(href='#') Показать еще 20 товаров
        include components/layouts/paginator.jade
        .catalog__content
            h2.title.title_line.title_second.title_dark.title_content Заголовок и seo  текс ниже
            .content
                p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований. Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект выявляет срочную потребность поэтапного и последовательного развития общества.
                p И нет сомнений, что представители современных социальных резервов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть заблокированы в рамках своих собственных рациональных ограничений. Кстати, тщательные исследования конкурентов, инициированные исключительно синтетически, функционально разнесены на независимые элементы! Но постоянное информационно-пропагандистское обеспечение нашей деятельности не даёт нам иного выбора, кроме определения благоприятных перспектив! Прежде всего, постоянный количественный рост и сфера нашей активности однозначно фиксирует необходимость глубокомысленных рассуждений.
                p Повседневная практика показывает, что существующая теория предопределяет высокую востребованность первоочередных требований. Следует отметить, что граница обучения кадров создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества! Также как экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. Каждый из нас понимает очевидную вещь: внедрение современных методик влечет за собой процесс внедрения и модернизации системы массового участия. Таким образом, повышение уровня гражданского сознания предопределяет высокую востребованность поэтапного и последовательного развития общества. Мы вынуждены отталкиваться от того, что сплочённость команды профессионалов является качественно новой ступенью прогресса профессионального сообщества.
                p Ясность нашей позиции очевидна: постоянный количественный рост и сфера нашей активности способствует повышению качества поэтапного и последовательного развития общества. Действия представителей оппозиции лишь добавляют фракционных разногласий и преданы социально-демократической анафеме.
                p Разнообразный и богатый опыт говорит нам, что сложившаяся структура организации не оставляет шанса для новых принципов формирования материально-технической и кадровой базы. Также как убеждённость некоторых оппонентов является качественно новой ступенью стандартных подходов. Как принято считать, некоторые особенности внутренней политики обнародованы. Принимая во внимание показатели успешности, социально-экономическое развитие создаёт предпосылки для анализа существующих паттернов поведения.