extends layout/layout.jade

block content
    include components/layouts/breadcrumbs.jade
    .wrapper
        include components/lk/topline.jade
        h1.title.title_second.title_dark.title_normal Мои отзывы
        .lk-wrapper
            .wrapper_f.wrapper_jcsb.wrapper_aifs
                .lk-content
                    - for(var y = 0; y < 1;y++)
                        .lk-card
                            .lk-card__head.wrapper_f.wrapper_jcsb.wrapper_aic
                                .lk-card__status.wrapper_f.wrapper_aic
                                    span 5 товаров ждут Вашего отзыва
                            .lk-card__content
                                .lk-card__reviews.js-lk-slider
                                    - for(var x = 0; x < 5; x++)
                                        .lk-card__item
                                            a(href='#')
                                                img(src='../img/card-img.png')
                                                span Название товара в несколько строк тут
                                            .lk-card__stars
                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5034 5.90739C14.4113 5.6239 14.1598 5.4232 13.8635 5.39639L9.82212 5.02949L8.22494 1.29017C8.10702 1.01544 7.83871 0.838135 7.54006 0.838135C7.24141 0.838135 6.97299 1.01544 6.85581 1.29017L5.25863 5.02949L1.2166 5.39639C0.920303 5.42374 0.669398 5.62444 0.576685 5.90739C0.484505 6.19087 0.569635 6.5018 0.793729 6.69834L3.8487 9.37711L2.94794 13.3444C2.88204 13.6361 2.99526 13.9377 3.2373 14.1127C3.3674 14.2072 3.52025 14.2544 3.67363 14.2544C3.80544 14.2544 3.93735 14.2194 4.05517 14.1489L7.54006 12.0652L11.0243 14.1489C11.2799 14.3016 11.6013 14.2876 11.8428 14.1127C12.0849 13.9377 12.1981 13.6361 12.1322 13.3444L11.2314 9.37711L14.2864 6.69834C14.5104 6.5018 14.5956 6.19151 14.5034 5.90739Z" fill="#E5E5E5"/>
                                                </svg>
                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5034 5.90739C14.4113 5.6239 14.1598 5.4232 13.8635 5.39639L9.82212 5.02949L8.22494 1.29017C8.10702 1.01544 7.83871 0.838135 7.54006 0.838135C7.24141 0.838135 6.97299 1.01544 6.85581 1.29017L5.25863 5.02949L1.2166 5.39639C0.920303 5.42374 0.669398 5.62444 0.576685 5.90739C0.484505 6.19087 0.569635 6.5018 0.793729 6.69834L3.8487 9.37711L2.94794 13.3444C2.88204 13.6361 2.99526 13.9377 3.2373 14.1127C3.3674 14.2072 3.52025 14.2544 3.67363 14.2544C3.80544 14.2544 3.93735 14.2194 4.05517 14.1489L7.54006 12.0652L11.0243 14.1489C11.2799 14.3016 11.6013 14.2876 11.8428 14.1127C12.0849 13.9377 12.1981 13.6361 12.1322 13.3444L11.2314 9.37711L14.2864 6.69834C14.5104 6.5018 14.5956 6.19151 14.5034 5.90739Z" fill="#E5E5E5"/>
                                                </svg>
                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5034 5.90739C14.4113 5.6239 14.1598 5.4232 13.8635 5.39639L9.82212 5.02949L8.22494 1.29017C8.10702 1.01544 7.83871 0.838135 7.54006 0.838135C7.24141 0.838135 6.97299 1.01544 6.85581 1.29017L5.25863 5.02949L1.2166 5.39639C0.920303 5.42374 0.669398 5.62444 0.576685 5.90739C0.484505 6.19087 0.569635 6.5018 0.793729 6.69834L3.8487 9.37711L2.94794 13.3444C2.88204 13.6361 2.99526 13.9377 3.2373 14.1127C3.3674 14.2072 3.52025 14.2544 3.67363 14.2544C3.80544 14.2544 3.93735 14.2194 4.05517 14.1489L7.54006 12.0652L11.0243 14.1489C11.2799 14.3016 11.6013 14.2876 11.8428 14.1127C12.0849 13.9377 12.1981 13.6361 12.1322 13.3444L11.2314 9.37711L14.2864 6.69834C14.5104 6.5018 14.5956 6.19151 14.5034 5.90739Z" fill="#E5E5E5"/>
                                                </svg>
                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5034 5.90739C14.4113 5.6239 14.1598 5.4232 13.8635 5.39639L9.82212 5.02949L8.22494 1.29017C8.10702 1.01544 7.83871 0.838135 7.54006 0.838135C7.24141 0.838135 6.97299 1.01544 6.85581 1.29017L5.25863 5.02949L1.2166 5.39639C0.920303 5.42374 0.669398 5.62444 0.576685 5.90739C0.484505 6.19087 0.569635 6.5018 0.793729 6.69834L3.8487 9.37711L2.94794 13.3444C2.88204 13.6361 2.99526 13.9377 3.2373 14.1127C3.3674 14.2072 3.52025 14.2544 3.67363 14.2544C3.80544 14.2544 3.93735 14.2194 4.05517 14.1489L7.54006 12.0652L11.0243 14.1489C11.2799 14.3016 11.6013 14.2876 11.8428 14.1127C12.0849 13.9377 12.1981 13.6361 12.1322 13.3444L11.2314 9.37711L14.2864 6.69834C14.5104 6.5018 14.5956 6.19151 14.5034 5.90739Z" fill="#E5E5E5"/>
                                                </svg>
                                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5034 5.90739C14.4113 5.6239 14.1598 5.4232 13.8635 5.39639L9.82212 5.02949L8.22494 1.29017C8.10702 1.01544 7.83871 0.838135 7.54006 0.838135C7.24141 0.838135 6.97299 1.01544 6.85581 1.29017L5.25863 5.02949L1.2166 5.39639C0.920303 5.42374 0.669398 5.62444 0.576685 5.90739C0.484505 6.19087 0.569635 6.5018 0.793729 6.69834L3.8487 9.37711L2.94794 13.3444C2.88204 13.6361 2.99526 13.9377 3.2373 14.1127C3.3674 14.2072 3.52025 14.2544 3.67363 14.2544C3.80544 14.2544 3.93735 14.2194 4.05517 14.1489L7.54006 12.0652L11.0243 14.1489C11.2799 14.3016 11.6013 14.2876 11.8428 14.1127C12.0849 13.9377 12.1981 13.6361 12.1322 13.3444L11.2314 9.37711L14.2864 6.69834C14.5104 6.5018 14.5956 6.19151 14.5034 5.90739Z" fill="#E5E5E5"/>
                                                </svg>
                                            a(href='#').lk-card__delete Пропустить
                    .lk-content__line
                    .review
                        .review__image
                            img(src='../img/card-img.png' alt='123')
                        .review__content
                            .review__name Имя
                            .review__date 01. 01.2022
                            .review__text
                                p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований.
                        .review__stars
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                    .review
                        .review__image
                            img(src='../img/card-img.png' alt='123')
                        .review__content
                            .review__name Имя
                            .review__date 01. 01.2022
                            .review__text
                                p Не следует, однако, забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки первоочередных требований.
                        .review__stars
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.666 6.09864C15.5678 5.79491 15.2984 5.57918 14.9797 5.55045L10.6502 5.15734L8.93828 1.15032C8.81205 0.856656 8.52457 0.666565 8.20515 0.666565C7.88574 0.666565 7.59826 0.856656 7.47203 1.15101L5.76006 5.15734L1.42996 5.55045C1.11181 5.57987 0.843096 5.79491 0.74433 6.09864C0.645565 6.40237 0.736777 6.73552 0.977453 6.94552L4.24997 9.81555L3.28498 14.0663C3.21437 14.3789 3.33568 14.702 3.59501 14.8894C3.73441 14.9901 3.89749 15.0414 4.06194 15.0414C4.20374 15.0414 4.34439 15.0032 4.47062 14.9276L8.20515 12.6956L11.9383 14.9276C12.2115 15.092 12.5559 15.077 12.8146 14.8894C13.0741 14.7014 13.1953 14.3782 13.1246 14.0663L12.1596 9.81555L15.4322 6.9461C15.6728 6.73552 15.7647 6.40295 15.666 6.09864Z" fill="#0069B4"/>
                            </svg>
                include components/lk/right.jade