extends layout/layout.jade

block content
    include components/layouts/breadcrumbs.jade
    .news__container.wrapper.wrapper_f.wrapper_jcsb.wrapper_aifs
        .news__content
            h1.title.title_main.title_dark Новости и обзоры
            span.news__date 10 февраля 2021 г
            span.news__time 15:15
            .content
                p Компания VEKA старается предложить своим покупателям максимальные возможности для оформления интерьера. Именно поэтому мы выпускаем цветные профили, двери и окна, которые способны подчеркнуть и дополнить самые смелые дизайнерские задумки. В нашей линейке представлен богатый выбор цветов и декоров. Такое разнообразие позволяет нашим партнёрам предложить индивидуальное цветовое решение в каждой ситуации. Будь то офис, квартира или коттедж – каждый сможет найти вариант, наилучшим образом подходящий по стилистике помещения. Уникальная технология нанесения цветных плёнок на профили позволяет делать это как с одной, так и с обеих сторон. Это дает Вам возможность комбинировать цвета по своему вкусу. Таким образом, в Вашем распоряжении окна разных оттенков с наружной и внутренней сторон. Цветные профили VEKA позволят не ограничиваться в реализации своих идей только стандартными решениями!
                p Компания VEKA старается предложить своим покупателям максимальные возможности для оформления интерьера. Именно поэтому мы выпускаем цветные профили, двери и окна, которые способны подчеркнуть и дополнить самые смелые дизайнерские задумки. В нашей линейке представлен богатый выбор цветов и декоров. Такое разнообразие позволяет нашим партнёрам предложить индивидуальное цветовое решение в каждой ситуации. Будь то офис, квартира или коттедж – каждый сможет найти вариант, наилучшим образом подходящий по стилистике помещения. Уникальная технология нанесения цветных плёнок на профили позволяет делать это как с одной, так и с обеих сторон. Это дает Вам возможность комбинировать цвета по своему вкусу. Таким образом, в Вашем распоряжении окна разных оттенков с наружной и внутренней сторон. Цветные профили VEKA позволят не ограничиваться в реализации своих идей только стандартными решениями!
                img(src='../img/news.jpg')
            .tags.wrapper_f.wrapper_aifs.wrapper_jcfs
                .tags__item
                    a(href='#') Обзоры
                .tags__item
                    a(href='#') Обзоры
                .tags__item
                    a(href='#') Обзоры
        .news__sidebar
            .news__post(style='background-image: url(../img/news.jpg)')
                h3
                    a(href='#') реклама чего то
                p Если очень захотеть - то можно продать слона
                a(href='#').news__button Полететь
            h3.news__subtitle Вам может быть интересно:
            .news__news
                - for(var x = 0; x < 3; x++)
                    .news-item.news-item_sidebar
                        .news-item__image
                            a(href='#')
                                img(src='../img/news.jpg' alt='123')
                        .news-item__content
                            h3.news-item__title
                                a(href='#') Заголовок новости до вдух строк максимально остальной текст уходит в многоточие
                            .news-item__type Анонс новости
            h3.news__subtitle Вам может быть интересно:
            .news__products
                - for(var x = 0; x < 3; x++)
                    .card.card_sidebar
                        .card__event Новинка
                        .card__image
                            a(href='#')
                                img(src='../img/card-img.png')
                        .card__content
                            .card__topline.wrapper_f.wrapper_jcsb.wrapper_aic
                                .card__promo -20%
                                .card__article Арт.: 111222
                            .card__title
                                h3
                                    a(href='#') Название товара тут в несколько строк
                            .card__count В наличии: 3шт.
                            .card__prices.wrapper_f.wrapper_jcsb.wrapper_aic
                                .card__price 100 000 ₽
                                .card__old 180 000 ₽
                            .card__footer.wrapper_f.wrapper_jcsb.wrapper_aic
                                button Купить
                                .card__icons.wrapper_f.wrapper_jcsb.wrapper_aic
                                    a(href='#')
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.85714 12.8571H1.28571V16.7143H3.85714V12.8571ZM10.2857 7.71429H7.71429V16.7143H10.2857V7.71429ZM16.7143 1.28571V16.7143H14.1429V1.28571H16.7143ZM14.1429 0C13.8019 0 13.4748 0.135459 13.2337 0.376577C12.9926 0.617695 12.8571 0.944722 12.8571 1.28571V16.7143C12.8571 17.0553 12.9926 17.3823 13.2337 17.6234C13.4748 17.8645 13.8019 18 14.1429 18H16.7143C17.0553 18 17.3823 17.8645 17.6234 17.6234C17.8645 17.3823 18 17.0553 18 16.7143V1.28571C18 0.944722 17.8645 0.617695 17.6234 0.376577C17.3823 0.135459 17.0553 0 16.7143 0H14.1429ZM6.42857 7.71429C6.42857 7.37329 6.56403 7.04627 6.80515 6.80515C7.04627 6.56403 7.37329 6.42857 7.71429 6.42857H10.2857C10.6267 6.42857 10.9537 6.56403 11.1949 6.80515C11.436 7.04627 11.5714 7.37329 11.5714 7.71429V16.7143C11.5714 17.0553 11.436 17.3823 11.1949 17.6234C10.9537 17.8645 10.6267 18 10.2857 18H7.71429C7.37329 18 7.04627 17.8645 6.80515 17.6234C6.56403 17.3823 6.42857 17.0553 6.42857 16.7143V7.71429ZM0 12.8571C0 12.5162 0.135459 12.1891 0.376577 11.948C0.617695 11.7069 0.944722 11.5714 1.28571 11.5714H3.85714C4.19814 11.5714 4.52516 11.7069 4.76628 11.948C5.0074 12.1891 5.14286 12.5162 5.14286 12.8571V16.7143C5.14286 17.0553 5.0074 17.3823 4.76628 17.6234C4.52516 17.8645 4.19814 18 3.85714 18H1.28571C0.944722 18 0.617695 17.8645 0.376577 17.6234C0.135459 17.3823 0 17.0553 0 16.7143V12.8571Z" fill="#0069B4"/>
                                        </svg>
                                    a(href='#')
                                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.25C0 1.65326 0.245833 1.08097 0.683417 0.65901C1.121 0.237053 1.71449 0 2.33333 0L11.6667 0C12.2855 0 12.879 0.237053 13.3166 0.65901C13.7542 1.08097 14 1.65326 14 2.25V17.4375C13.9999 17.5392 13.9713 17.6391 13.917 17.7264C13.8628 17.8136 13.785 17.8851 13.692 17.9331C13.599 17.9811 13.4942 18.0039 13.3888 17.9991C13.2834 17.9942 13.1813 17.9619 13.0935 17.9055L7 14.7386L0.9065 17.9055C0.818656 17.9619 0.716602 17.9942 0.611207 17.9991C0.505811 18.0039 0.401022 17.9811 0.307999 17.9331C0.214977 17.8851 0.137205 17.8136 0.0829664 17.7264C0.028728 17.6391 5.45071e-05 17.5392 0 17.4375V2.25ZM2.33333 1.125C2.02391 1.125 1.72717 1.24353 1.50838 1.4545C1.28958 1.66548 1.16667 1.95163 1.16667 2.25V16.3867L6.67683 13.5945C6.77257 13.5331 6.885 13.5003 7 13.5003C7.115 13.5003 7.22743 13.5331 7.32317 13.5945L12.8333 16.3867V2.25C12.8333 1.95163 12.7104 1.66548 12.4916 1.4545C12.2728 1.24353 11.9761 1.125 11.6667 1.125H2.33333Z" fill="#999999"/>
                                        </svg>