
.wrapper {
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  &_f {
    display: flex;
  }
  &_jcsb {
    justify-content: space-between;
  }
  &_jcfs {
    justify-content: flex-start;
  }
  &_aifs {
    align-items: flex-start;
  }
  &_aic {
    align-items: center;
  }
  &_ais {
    align-items: stretch;
  }
}
@import "topline";
@import "header";
@import "nav";
@import "footer";